<template>
  <div class="home">
    test
    <IconFont icon="mp-jian"></IconFont>
  </div>

</template>

<script setup lang="ts" name="Home">


</script>

<style lang="scss" scoped>
.home {


}
</style>
