// 声明密码框中的字体
@font-face {
  font-family: "passwordEntry";
  src: url(./PasswordEntry.ttf);
}

// 声明思源字体
@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("./siyuan/webfont.eot"); /* IE9*/
  src: url("./siyuan/webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./siyuan/webfont.woff2") format("woff2"),
    url("./siyuan/webfont.woff") format("woff"),
    /* chrome、firefox */ url("./siyuan/webfont.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./siyuan/webfont.svg#NotoSansHans-DemiLight") format("svg"); /* iOS 4.1- */
}

$_common_family: "webfont", "Microsoft YaHei", "微软雅黑", "Helvetica Neue",
  Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
$_password_family: "passwordEntry" !important;

html,
body {
  overflow: hidden;
}

body * {
  min-height: 0; //解决firefox下 flex中无法使用overflow的问题
  min-width: 0; //解决flex:1下，元素撑破父元素
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $_common_family;
  box-sizing: border-box;
  outline: none;
  overscroll-behavior: contain; //禁止滚动传递给父元素
}

#app {
  height: 100%;
  width: 100%;
  background-color: #f2f3f8;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

i {
  display: inline-block;
}

[data-is-password] {
  font-family: $_password_family;
  &::placeholder {
    font-family: $_common_family;
  }

  input {
    font-family: $_password_family;
    &::placeholder {
      font-family: $_common_family;
    }
  }
}

/**显示颜色*/
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  height: 80px;
  outline-offset: -1px;
  outline: 1px solid #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.5);
  height: 80px;
  border-radius: 5px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  border-radius: 0;
}

/*火狐滚动条样式*/
* {
  scrollbar-color: #e5e5e5 #fff0; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
}
