$namespace: 'ep';

$primary-base: #198cff;
$primary-base-light-1: mix($primary-base, white, 90%);
$primary-base-light-2: mix($primary-base, white, 80%);
$primary-base-light-3: mix($primary-base, white, 70%);
$primary-base-light-4: mix($primary-base, white, 60%);
$primary-base-light-5: mix($primary-base, white, 50%);
$primary-base-light-6: mix($primary-base, white, 40%);
$primary-base-light-7: mix($primary-base, white, 30%);
$primary-base-light-8: mix($primary-base, white, 20%);
$primary-base-light-9: mix($primary-base, white, 10%);

$success-base: #52c41a;

$warning-base: #faad14;

$danger-base: #ff4d4f;

$error-base: #db2828;

$info-base: #999999;
