<template>
    <el-config-provider :size="size"
      :z-index="zIndex"
      :locale="zhCn"
      namespace="ep">
        <router-view v-slot="{ Component }">
            <component :is="Component" />
        </router-view>
    </el-config-provider>
</template>
<script setup lang="ts" name="App">
import { ElConfigProvider } from 'element-plus';
import zhCn from 'element-plus/dist/locale/zh-cn.js';
import { ref } from "vue";

let zIndex = ref(3000);
let size = ref<'default'>('default');

</script>

<style lang="scss">
@use '~/src/assets/css/var.scss' as variable;

body {
    --color-primary: #{variable.$primary-base};
    --color-primary-light-1: #{variable.$primary-base-light-1};
    --color-primary-light-2: #{variable.$primary-base-light-2};
    --color-primary-light-3: #{variable.$primary-base-light-3};
    --color-primary-light-4: #{variable.$primary-base-light-4};
    --color-primary-light-5: #{variable.$primary-base-light-5};
    --color-primary-light-6: #{variable.$primary-base-light-6};
    --color-primary-light-7: #{variable.$primary-base-light-7};
    --color-primary-light-8: #{variable.$primary-base-light-8};
    --color-primary-light-9: #{variable.$primary-base-light-9};
    --color-success: #{variable.$success-base};
    --color-danger: #{variable.$danger-base};
    --color-info: #{variable.$info-base};
}
</style>