<template>
  <div class="layout">
    <div class="content">
      <router-view v-slot="{ Component, route }">
        <keep-alive :include="[]">
          <component :is="Component"
            :key="route.fullPath" />
        </keep-alive>
      </router-view>
    </div>
  </div>

</template>

<script setup lang="ts" name="Layout" >

</script>
<style lang="scss" scoped>
.layout {
  height: 100vh;
  width: 100vw;
}
</style>


